* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Gluten', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
:root {
    --shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12);
}
.block {
}
.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    background-color: antiquewhite;
    padding: 15px 25px;
    border-radius: 15px;
}
.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}
.block-retry {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn {
    margin-top: 20px;
    text-align: center;
    padding: 20px 40px;
    color: white;
    background-color: blue;
    border: none;
    border: 1px solid blue;

    border-radius: 25px;
    transition: all 400ms ease-out;
    &:hover {
        cursor: pointer;
        color: blue;
        background-color: white;
        border: 1px solid blue;
    }
}
input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.block-btn {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.up {
    width: 5vw;
    padding: 5px 10px;
}
.down {
    width: 5vw;

    padding: 5px 10px;
}
.left {
    width: 5vw;

    padding: 5px 10px;
}
.right {
    width: 5vw;

    padding: 5px 10px;
}
.block-btn__down {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-upr {
    margin: 5px;
    border: none;
    color: aliceblue;
    transition: all 300ms ease-out;
    border-radius: 10%;
    background-color: rgb(106, 106, 251);
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
